@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 1024px) {
  li:hover {
    font-weight: 800;
  }
}

/*QUERY PARA TABLET*/
@media (min-width: 768px) {
 /*logo y slogan*/
.header-container {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: start;
  min-height: 80px;
}
.logo {
  min-width: 100%;
}
.div-slogan {
  display: grid;
  align-content: center;
  justify-items: start;
}
/*barra de navegacion*/
.ul-container {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li:hover {
  font-weight: 800;
}
/*index reseñas*/
#reseñas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3%;
  padding-bottom: 3%;
}
/*productos*/
#producto {
  width: 30%;
}
}

/*MOBILE FIRST*/
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/*fuente del sitio*/
html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/*logo y slogan*/
header {
  font-size: 0.8rem;
  color: white;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  text-align: center;
  background-color: green;
}

.logo {
  border-radius: 100%;
  width: 60%;
  padding-top: 10px;
}

/*barra de navegación*/
nav {
  background-color: green;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}

nav ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li:hover {
  font-weight: 800;
}
li {
  list-style: none;
}

/*contenedor principal*/
main {
  min-height: 100vh;
  background: linear-gradient(green, lightgreen);
}

.presentacion p {
  font-size: 1.2rem;
  padding-top: 2%;
}

/*index ubicacion*/
.mapa {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

iframe {
  width: 80%;
  border-radius: 10px;
}

/*index reseñas*/
.reseñas {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3%;
  padding-bottom: 3%;
}

.reseña {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  justify-items: center;
}

.reseña img {
  border-radius: 20px;
}

.reseña p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/*pie de pagina*/
footer {
  background-color: green;
  text-align: center;
  display: block;
  width: 100%;
}

#contenedor-redes {
  display: flex;
  justify-content: flex-start;
}

.creditos small {
  font-size: 18px;
  color: #F9FAFC;
  margin-bottom: 5px;
}

.iconos a img {
  width: 5%;
}

/*tienda productos*/
.listado-productos {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: space-evenly;
}

.producto {
  width: 40%;
  height: auto;
  background-color: blue;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.producto:hover {
  background-color: darkmagenta;
  transform: translateY(-5);
  box-shadow: 12px;
}

.btn-agregar {
  font-size: 0.8rem;
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

/*main nosotros*/
main img {
  padding-top: 3%;
  padding-bottom: 2%;
}

main section p {
  padding: 1rem 10px 1rem 10px;
}

/*main contacto*/
main div p {
  padding: 1rem 10px 1rem 10px;
}
form {
  width: 50%;
  margin: 0 auto;
  max-width: 100%;
  min-width: 80%;
  padding: 20px;
  box-sizing: border-box;
}
form>* {
  display: block;
  width: 100%;
  text-align: center;
}

/*main carrito*/  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .encabezados {
    font-size: 0.8rem;
  }
  td {
    text-align: center;
    border-bottom: 1px solid grey;
    padding-top: 1em;
  }
  .fa-plus {
    background-color: white;
    border-radius: 100%;
    color: green
  }
  .fa-minus {
    background-color: white;
    border-radius: 100%;
    color: red;
  }
  .fa-trash {
    color: darkred;
  }