@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 768px) {
  header {
    font-size: 0.8rem;
    color: white;
  }
  
  nav ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    padding: 20px;
  }

  .logo {
    width: 120%;
  }

  form {
    width: 100%;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  border-radius: 100%;
}

img {
  max-width: 100%;
}

header img {
  max-width: 100px;
  grid-area: logo;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  background-color: green;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

nav ul li:hover {
  font-weight: 800;
}

li {
  list-style: none; 
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

main {
  min-height: 100vh;
  background: linear-gradient(green, lightgreen);
}

main img {
  padding-top: 3%;
  padding-bottom: 2%;
}

main section p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header {
  color: white;
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: green;
  grid-template-areas: "logo name" "logo slogan";
}

header h1 {
  grid-area: name ;
  align-self: end;
}

header h2 {
  grid-area: slogan;
}

.presentacion p {
  font-size: 1.2rem;
  padding-top: 2%;
}

.mapa {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 3%;
}

iframe {
  width: 50%;
  border-radius: 10px;
}

.reseñas {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
}

.reseña {
  width: 30%;
  text-align: center;
}

.reseña img {
  border-radius: 5px;
}

div h2 {
  padding-top: 1%;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  min-width: 100vw;
  justify-content: space-evenly;
}

.producto {
  width: 350px;
  height: auto;
  background-color: #2196f3;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.producto h2{
  font-size: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.producto:hover {
  background-color: blue;
  transform: translateY(-5);
  box-shadow: 12px;
}

form {
  width: 50%;
  margin: 0 auto;
  max-width: 700px;
  min-width: 360px;
  padding: 20px;
  box-sizing: border-box;
}

form > * {
  display: block;
  width: 100%;
  text-align: center;
}

footer {
  background-color: green;
  text-align: center;
  display: block;
}

.contenedor-de-redes a h3{
  color: white;
}

#contenedor-redes {
  display: flex;
  justify-content: flex-start;
}

.creditos small{
  font-size: 18px;
  color: #F9FAFC;
  margin-bottom: 5px;
}

.redes{
  width: 50px;
  color: white;
}

.redes a img{
  width: 45px;
  height: 45px;
  object-fit: contain;
  margin: 2px;
}

.iconos a img {
  width: 5%;
}