@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 768px) {
  header {
    font-size: 0.8rem;
    color: white;
  }
  
  nav {
    display: grid;
    flex-direction: row;
    padding-left: 0;
  }
  
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    padding: 20px;
  }

  .logo {
    width: 120%;
  }

  form {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  border-radius: 100%;
}

img {
  max-width: 250px;
}

header img {
  max-width: 100px;
  grid-area: logo;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  background-color: green;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

nav ul li:hover {
  font-weight: 800;
}

li {
  list-style: none; 
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

main {
  min-height: 100vh;
  background: linear-gradient(green, lightgreen);
}

header {
  color: white;
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: green;
  grid-template-areas: "logo name" "logo slogan";
}

header h1 {
  grid-area: name ;
  align-self: end;
}

header h2 {
  grid-area: slogan;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  min-width: 100vw;
  justify-content: space-evenly;
}

.producto {
  width: 350px;
  height: auto;
  background-color: #2196f3;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.producto h2{
  font-size: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

footer {
  background-color: green;
}

.producto:hover {
  background-color: blue;
  transform: translateY(-5);
  box-shadow: 12px;
}

form {
  width: 50%;
  margin: 0 auto;
  max-width: 700px;
  min-width: 360px;
  padding: 20px;
  box-sizing: border-box;
}

form > * {
  display: block;
  width: 100%;
  text-align: center;
}

footer {
  text-align: center;
}